<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sing-up</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="auth-wrapper">
    <form th:action="@{/sign-up}" method="post">
        <h2>Регистрация</h2>
        <div th:if="${successMessage}" class="auth-note">
            <p th:text="${successMessage}">Успешная регистрация</p>
        </div>
        <div th:if="${errorMessage}" class="auth-error">
            <p th:text="${errorMessage}">Ошибка при регистрации</p>
        </div>
        <div class="input-field">
            <input th:type="text" th:name="email" required>
            <label>Введите вашу почту</label>
        </div>
        <div class="input-field">
            <input th:type="text" th:name="username" required>
            <label>Введите имя пользователя</label>
        </div>
        <div class="input-field">
            <input th:type="password" th:name="password" required>
            <label>Введите пароль</label>
        </div>
        <button type="submit">Регистрация</button>
        <div class="account-options">
            <p>Уже есть аккаунт? <a th:href="@{/sign-in}">Войти</a></p>
        </div>
    </form>
</div>
</body>
</html>
