<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Отчеты</title>
</head>
<body>
<div style="display: flex; gap: 10px; align-items: center; margin-bottom: 20px;">
    <form th:action="@{/reports/view/details}" method="get">
        <label>
            <input type="text" name="id" th:value="${searchedId}" placeholder="Задайте id отчета" required/>
        </label>
        <button type="submit">Найти</button>
    </form>

    <form th:action="@{/reports/view/create}" method="post">
        <button type="submit">Создать</button>
    </form>
</div>

<div th:if="${message != null}">
    <h3 style="color: green;" th:text="${message}"></h3>
</div>

<div th:if="${report != null}">
    <h3>Статус отчета: <span th:text="${report.status}"></span></h3>

    <div th:if="${report.status.name() == 'COMPLETED'}" th:utext="${report.description}"></div>

    <p th:if="${report.status.name() == 'GENERATED'}">
        Отчет еще формируется, обновите страницу чуть позже.
    </p>
</div>

<div th:if="${notFound == true}">
    <p style="color: red;">К сожалению, отчет с ID "[[${searchedId}]]" ничего не найдено.</p>
</div>

</body>
</html>