<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Passwords</title>
</head>
    <body>
    <h1>Passwords</h1>
        <table border="1">
            <tr>
                <th>id</th>
                <th>login</th>
                <th>password</th>
                <th>serviceName</th>
                <th>description</th>
                <th>createdAt</th>
                <th>updatedAt</th>
            </tr>
            <tr th:each="entry : ${passwords}">
                <td th:text="${entry.id}"></td>
                <td th:text="${entry.login}"></td>
                <td th:text="${entry.password}"></td>
                <td th:text="${entry.serviceName}"></td>
                <td th:text="${entry.description}"></td>
                <td th:text="${entry.createdAt}"></td>
                <td th:text="${entry.updatedAt}"></td>
            </tr>
        </table>
    </body>
</html>